<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1020">
    <meta name="description" content="[[*description]]" />
    <meta name="keywords" content="[[+seoPro.keywords]]" />
    <title></title>
    <link media="all" rel="stylesheet" href="css/all.css">


</head>
<body ng-app>
		<input type="text" ng-model="name">
		<div>hello {{name}}</div>
		<div>{{2+2}}</div>
		<input type="checkbox" ng-model="ShowCheCk">
		<div ng-show="ShowCheCk">TEXT IT'S COOL</div>
		<div ng-show="ShowCheCk">TEXT IT'S COOL</div>

	<script type="text/javascript" src="js/angular.min.js"></script>
</body>
</html>